<!--------------------------------------  Nav Bar                 -------------------------------------->
<nav class="navbar navbar-default navbar-fixed-top">
   
    <div class="container-fluid">
   
    <div class="navbar-header">
     
<!--------------------------------------  Hamburger               -------------------------------------->
     
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" id="welcome-message" ng-href="/#/home">Coconut</a>
      
    </div>

<!----------------------  Elements available in collapsed Nav Bar -------------------------------------->
   
    <div class="collapse navbar-collapse" id="navbar-collapse">
      
      <ul ng-controller="GetProfileInfoCtrl" class="nav navbar-nav navbar-right">
        <li><a ng-href="#/users/{{ authentication.current_user_id }}/profile/edit">Edit Profile</a></li>
        <li><a ng-click="logout()">Log Out</a></li>
      </ul>
      
<!----------------------  Elements in Dropdown Menu               -------------------------------------->

    
    </div>

  </div>
  
</nav>

<div class="container-fluid profile-container-fluid"> 
  <div class="container">
    
     <div class="row">
      <div class="row profile-description">
          <div class="user-profile-info col-xs-12 col-sm-8 col-sm-offset-2" ng-controller="GetProfileInfoCtrl">
            <div class="col-xs-12">
              <div class="avatar-container col-xs-4">
                <img ng-src="{{ profile.avatar }}" class="img-responsive" id="profile-avatar">
              </div>
              <div class="profile-name-content col-xs-8">
                Name: 
                {{ profile.first_name + " " + profile.last_name }}
                <br>
                <br>
                Username:
                {{ profile.username }}
                <br>
                <br>
                Description: <br>
                {{ profile.content }}
                <br>
              </div>
            </div>

          </div>
      </div>
    </div>

      <ul class="list-group" id="profile-posts" ng-repeat="post in posts">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2" id="user-post">
          
          <li class="list-group-item"><strong>{{ post.description }}</strong></li>
          <li class="list-group-item"><img class="img-responsive" ng-src="{{ post.picture }}"></li>
          
          <li class="list-group-item" ng-repeat="comment in post.comments">
            {{ comment.content }}
          <small>
            {{ comment.created_at | date }}
          </small>
          </li>
          <li class="list-group-item">
            <form ng-submit="form.create($index)">
              <input type="text" class="form-control" placeholder="Comment here..." ng-model="post.new_comment.content">
            </form>
          </li>
        </div>
      </ul>
  </div>
  
</div>