<div class="container">
  <div class="row">
    <p>This Is Where The Profile Information Needs To Be</p>
    <div>
    	Profile: {{ profile description here}}
      Followers: {{}} 
      Following: {{}}
    </div>
  </div>
  <div class="row">
    <p>This Is Where The  User Posts Needs To Be</p>
    <div ng-repeat="post in posts">
    	2 Columns of posts
      <div>
        {{ user.post.description }}
        <div class="col-xs-12">
          <img ng-src="{{ user.post.picture }}" class="img-responsive">
        </div>
        <small>
          {{ user.post.taken_at | date }}
        </small>
      </div>
    </div>
  </div>
</div>