// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar, .container {
  font-family: 'Pacifico', cursive;
}

#icon {
  width: 5%;
  height: 100%;
}

#navbar-collapse > ul > li > a {
  color: white;
}

#navbar-collapse > ul > li > a:hover {
  border-bottom: medium solid #00E575;
  color: #00E575;
}

#input-panel {
  margin-top: 8em;
  position:fixed;
  z-index: 2000;
  left:20px;
}

#profile-panel {
  position:fixed;
  z-index: 2000;
  right:20px;
}

small {
  float: right;
}

#welcome-message:hover {
  border-bottom: medium solid #00E575;
  color: #00E575;
}

#welcome-message {
  vertical-align: middle;
  padding-top: 2em;
  color: white;
  font-size: 2em;
}

#feed {
  margin-top: 8em;
}

#preview-image {
  width: 33%;
  height: 33%;
  padding-top: 1em;
}

@media (max-width: 768px) {
  #input-panel {
    position: static;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  #feed {
    margin-top: 1em;
  }
}

