#profile-posts {
	font-size: 20px;
	border: 1px solid black;
	width: auto;
	height: auto;
}

.profile-description {
	background-color: navy;
	color: white;	
	text-align: center;
}

.avatar-container {
	height: 152px;
	width: 120px;
}

#profile-pic {
	height: 110px;
	width: 110px;
	margin-top: 50px;
	margin-left: 15px;
}

.user-profile-info {
	position: relative;
	top: 30%;
	// transform: translateY(-50%);
	width: 550px;
	margin-left: 150px;
	margin-top: -50px;
	padding-bottom: 10px;
}

.posts-here {
	text-align: center;
}

.profile-container-fluid {
	background-color: green;
}

.container {
	margin-top: 50px;
}

.navbar-default {
	color: white;
}