#profile-posts {
  font-size: 18px;
  width: auto;
  height: auto;
}

.profile-description {
  background-color: white;
  color: black; 
  text-align: center;
  height: 250px
}

#profile-avatar {
  height: 150px;
}


.user-profile-info {
  margin: 0 auto;
  margin-top: 50px;
}

.posts-here {
  text-align: center;
}

.container {
  margin-top: 50px;
}

.profile-name-content {
  text-align: left;
}

#black-bar {
  margin-left: 0;
  height: 50px;
  // background-color: black;
}

#user-post {
  margin-top: 1em;
  margin-bottom: 1em;
}
